*{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
.transparent{
  background-color: rgba(0, 0, 0, 0) !important;
}
.unShow{
  visibility: hidden;
}
.white{
  color: #fff;
}
span{
  display:block;
}
.btn{
  margin: 10px 15px;
  padding: 0 35px;
  height: 45px;
  line-height: 45px;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: none;
  transition: ease-in all 0.3s;
  &:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  }
}

